/*reset*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: rgb(5, 5, 40);
    background: linear-gradient(35deg,#000000,#002e74);
}
.container{
    background-color:rgb(51,103,183);
    max-width: 800px;
    margin: 35px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(
    0,0,0,0.5)
}
.header{
    text-align: center;
    margin-bottom: 24px;

}
.header img{
    width: 200px;
    margin: 0%;
}
.header h1{
    font-size: 2.6rem;
    margin-top: -30xp;
    font-style: oblique;
    color: aliceblue;
}
.header p{
    color: #3232b0;
    font-family:sans-serif;
}
.feature-img{
    background-color: #102967;

}
.feature-img{
    margin: 0%;
}
.feature-img figure img{
    width: 100%;
}
.feature-img figure caption{
    color: #002e74;
}
.biografia{
    background-color: rgb(51, 103, 183)
}
.biografia{
    width: 100;
}
.biografia h2{
    border-left: 5px solid rgb(51, 103, 183);
  padding: 12px;
  margin: 20px auto;
  font-size: 2.0rem;
}
.biografia p {
    border-left: 5px solid rgb(51, 103, 183);
    padding: 12px;
    margin: 20px auto;
    font-size: 1.5rem;
  }
.membros figure img{
    width: 300px;
    height: 350px;
}
.membros{
    box-shadow: 0 5px 12px rgba(
        0,0,0,0.5)
}
.membros{
    background-color:rgb(51, 103, 183);
}
.membros{
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.curios{
    background-color: rgb(51, 103, 183);
    max-width: 800px;
    margin: 35px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(
    0,0,0,0.5)
}