/*reset*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(5, 5, 40);
    background: -o-linear-gradient(35deg,#131c27,#112b53);
}
.container{
    background-color: rgb(51, 103, 183);
    max-width: 800px;
    margin: 35px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(
    0,0,0,0.5)
}
.header{
    text-align: center;
    margin-bottom: 24px;

}
.header img{
    width: 200px;
    margin: 0%;
}
.header h1{
    font-size: 1.4rem;
    margin-top: -30xp;
}
.feature-img{
    background-color: #e5e5ff;
}
.feature-img{
    margin: 0%;
}
.feature-img figure img{
    width: 100%;
}
